<ng-container *ngIf="users && users.length > 0">
  <nz-select
    [nzCustomTemplate]="defaultTemplate"
    [nzDropdownMatchSelectWidth]="false"
    nzBorderless
    nzShowSearch
    [nzSuffixIcon]="customDropdownIcon"
    [nzShowArrow]="false"
    [formControl]="assigneeControl"
    class="w-full"
    nzPlaceHolder="Unassigned"
  >
    <nz-option
      nzCustomContent
      [nzLabel]="u.firstName + ' ' + u.lastName"
      [nzValue]="u"
      *ngFor="let u of users"
    >
      <div class="flex gap-2 py-1 item-centers">
        <app-avatar [user]="u" [size]="24"></app-avatar>
        <div class="capitalize text-textDark">
          {{ u.firstName }} {{ u.lastName }}
        </div>
      </div>
    </nz-option>
  </nz-select>
</ng-container>

<div *ngIf="!users || users.length === 0" class="text-textMedium p-1">
  Loading users...
</div>

<ng-template #defaultTemplate let-selected>
  <div class="flex items-center h-full gap-2" *ngIf="selected.nzValue">
    <app-avatar [user]="selected.nzValue" [size]="24"></app-avatar>
    <div class="capitalize text-textDark">
      {{ selected.nzValue.firstName }} {{ selected.nzValue.lastName }}
    </div>
  </div>
  <div class="text-textMedium" *ngIf="!selected.nzValue">Unassigned</div>
</ng-template>

<ng-template #customDropdownIcon>
  <app-svg-icon
    class="text-textDark"
    name="arrowDown"
    [width]="24"
    [height]="24"
  ></app-svg-icon>
</ng-template>
