<div class="flex items-center justify-between">
  <nz-select
    class="w-full"
    nzSize="default"
    nzBorderless
    [nzDropdownMatchSelectWidth]="false"
    [formControl]="assigneeControl"
    [nzSuffixIcon]="suffixIconTemplate"
    [nzCustomTemplate]="defaultOptionTemplate"
  >
    <nz-option
      *ngFor="let user of users"
      [nzValue]="user"
      [nzLabel]="user.firstName + ' ' + user.lastName"
      nzCustomContent
    >
      <div class="flex items-center gap-2">
        <app-avatar [user]="user" size="small"></app-avatar>
        <span>{{ user.firstName }} {{ user.lastName }}</span>
      </div>
    </nz-option>
  </nz-select>

  <button
    *ngIf="assignee"
    (click)="unassign($event)"
    class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-600"
  >
    <app-svg-icon name="close" [width]="16" [height]="16"></app-svg-icon>
  </button>
</div>

<ng-template #suffixIconTemplate>
  <app-svg-icon
    name="arrowDown"
    [width]="20"
    [height]="20"
    class="text-textDark"
  ></app-svg-icon>
</ng-template>

<ng-template #defaultOptionTemplate let-selected>
  <div class="flex items-center gap-2">
    <app-avatar *ngIf="assignee" [user]="assignee" size="small"></app-avatar>
    <span>{{ selected.nzLabel }}</span>
  </div>
</ng-template>
