<ng-container *ngIf="user?.avatar; else initialsTemplate">
  <img
    class="avatar"
    [ngClass]="{ bordered: bordered, selected: selected }"
    [width]="size"
    [height]="size"
    [src]="user?.avatar"
    alt="avatar"
    *ngIf="showTooltip"
    nz-tooltip
    [nzTooltipTitle]="getFullName()"
    (click)="onSelect()"
  />
  <img
    *ngIf="!showTooltip"
    class="avatar"
    [ngClass]="{ bordered: bordered, selected: selected }"
    [width]="size"
    [height]="size"
    [src]="user?.avatar"
    alt="avatar"
    (click)="onSelect()"
  />
</ng-container>

<ng-template #initialsTemplate>
  <div
    *ngIf="showTooltip"
    class="avatar initials-avatar"
    [ngClass]="{ bordered: bordered, selected: selected }"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.line-height.px]="size"
    [style.font-size.px]="size / 2.5"
    nz-tooltip
    [nzTooltipTitle]="getFullName()"
    (click)="onSelect()"
  >
    {{ getUserInitials() }}
  </div>
  <div
    *ngIf="!showTooltip"
    class="avatar initials-avatar"
    [ngClass]="{ bordered: bordered, selected: selected }"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.line-height.px]="size"
    [style.font-size.px]="size / 2.5"
    (click)="onSelect()"
  >
    {{ getUserInitials() }}
  </div>
</ng-template>
