<div class="action-container">
  <form [formGroup]="filterFormGroup" class="flex flex-row items-center gap-4">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search issues..."
        class="search-input"
        autocomplete="off"
      />
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
      >
        <app-svg-icon name="search" [width]="16" [height]="16" class="text-gray-500"></app-svg-icon>
      </div>
    </div>

    <app-assignee-filter-control
      formControlName="assignees"
    ></app-assignee-filter-control>

    <app-label-filter-control
      formControlName="labels"
    ></app-label-filter-control>

    <app-type-filter-control formControlName="types"></app-type-filter-control>

    <button
      type="button"
      class="px-3 py-1.5 rounded-md text-gray-700 font-medium hover:bg-gray-100 border border-gray-200 transition-all duration-150 text-sm"
      *ngIf="clearFiltersVisible"
      (click)="clearFilters()"
    >
      Clear filters
    </button>
  </form>

  <div class="grouping-action">
    <label class="label">Group by</label>
    <nz-select
      class="custom-select"
      [formControl]="groupByControl"
      [nzDropdownMatchSelectWidth]="false"
      nzBorderless
      [nzSuffixIcon]="selectSuffixIcon"
    >
      <nz-option nzCustomContent nzLabel="None" nzValue="None">
        <span class="text-sm">None</span>
      </nz-option>
      <nz-option nzCustomContent nzLabel="Assignee" nzValue="Assignee">
        <span class="text-sm">Assignee</span>
      </nz-option>
      <nz-option nzCustomContent nzLabel="Subtask" nzValue="Subtask">
        <span class="text-sm">Subtask</span>
      </nz-option>
    </nz-select>
  </div>
</div>

<ng-template #selectSuffixIcon>
  <app-svg-icon name="arrowDown" [width]="16" [height]="16" class="text-gray-500"></app-svg-icon>
</ng-template>
