<div class="flex items-center justify-between">
  <nz-select
    class="w-full"
    nzSize="default"
    nzBorderless
    [nzDropdownMatchSelectWidth]="false"
    [formControl]="priorityControl"
    [nzSuffixIcon]="suffixIconTemplate"
    [nzCustomTemplate]="defaultOptionTemplate"
  >
    <nz-option
      *ngFor="let item of priorities"
      [nzValue]="item.value"
      [nzLabel]="item.label"
      nzCustomContent
    >
      <div class="flex items-center gap-2">
        <app-svg-icon
          [name]="item.iconName"
          [width]="16"
          [height]="16"
        ></app-svg-icon>
        <span>{{ item.label }}</span>
      </div>
    </nz-option>
  </nz-select>
</div>

<ng-template #suffixIconTemplate>
  <app-svg-icon
    name="arrowDown"
    [width]="20"
    [height]="20"
    class="text-textDark"
  ></app-svg-icon>
</ng-template>

<ng-template #defaultOptionTemplate let-selected>
  <div class="flex items-center gap-2">
    <app-svg-icon
      [name]="getPriorityIcon()"
      [width]="16"
      [height]="16"
    ></app-svg-icon>
    <span>{{ selected.nzLabel }}</span>
  </div>
</ng-template>
