<div class="sidebar" [ngClass]="{ collapsed: collapsed }">
  <app-sidebar-resizer
    class="resizer"
    [collapsed]="collapsed"
    (onToggleSidebar)="onToggleSidebar()"
  >
  </app-sidebar-resizer>

  <div class="sidebar-content">
    <div class="sidebar-header">
      <!-- Project selector -->
      <div class="project-selector" (click)="toggleProjectSelector()">
        <div class="project-avatar" *ngIf="selectedProject">
          <svg class="taskflow-logo" width="16" height="16" viewBox="0 0 32 32" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6h20v4H6V6zm0 8h20v4H6v-4zm0 8h20v4H6v-4z" fill-rule="evenodd"/>
            <path d="M28 4H4v24h24V4zm2-2v28H2V2h28z" fill-rule="evenodd"/>
          </svg>
        </div>
        <div *ngIf="!loading && selectedProject">
          <div class="font-semibold">{{ selectedProject.name }}</div>
          <div class="text-xs text-gray-500">TaskFlow project</div>
        </div>
        <div *ngIf="loading" class="w-full">
          <nz-skeleton-element
            nzType="input"
            [nzActive]="true"
          ></nz-skeleton-element>
        </div>
        <div class="ml-auto" *ngIf="!collapsed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-gray-500"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <!-- Project dropdown -->
      <div *ngIf="showProjectSelector" class="project-dropdown">
        <div class="p-2 border-b">
          <input
            type="text"
            placeholder="Find a project..."
            class="w-full p-2 border rounded text-sm focus:outline-none focus:border-blue-500"
            [(ngModel)]="searchTerm"
            (input)="filterProjects()"
          />
        </div>
        <div class="max-h-40 overflow-y-auto">
          <div
            *ngFor="let project of filteredProjects"
            class="project-item"
            [class.selected]="selectedProject?.id === project.id"
            (click)="selectProject(project)"
          >
            <div
              class="h-6 w-6 rounded bg-blue-100 flex items-center justify-center mr-2 text-blue-600"
            >
              {{ project.name.charAt(0).toUpperCase() }}
            </div>
            <div class="truncate">{{ project.name }}</div>
          </div>

          <div
            *ngIf="filteredProjects.length === 0 && searchTerm"
            class="p-4 text-center text-gray-500 text-sm"
          >
            No projects found matching "{{ searchTerm }}"
          </div>

          <div
            *ngIf="projects.length === 0 && !loading"
            class="p-4 text-center text-gray-500 text-sm"
          >
            You don't have any projects yet
          </div>
        </div>
        <div class="p-2 border-t text-center">
          <a
            href="#"
            class="text-sm text-blue-600 hover:underline"
            (click)="createNewProject($event)"
            >Create project</a
          >
        </div>
      </div>
    </div>

    <div class="sidebar-nav">
      <ng-container *ngFor="let item of navItems">
        <a
          *ngIf="!item.adminOnly || isAdmin"
          class="nav-item"
          [routerLink]="item.link"
          routerLinkActive="active"
        >
          <app-svg-icon
            [name]="item.icon"
            [width]="24"
            [height]="24"
          ></app-svg-icon>
          <div>{{ item.label }}</div>
        </a>
      </ng-container>
    </div>

    <div class="sidebar-footer">
      <p class="text-center">You're in a team-managed project</p>
      <a class="p-3 font-medium">TaskFlow App</a>
    </div>
  </div>
</div>
